<section class="slider" id="home">
		<div class="container-fluid" *ngIf="showBanner">
			<div class="row">
			    <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">
					<div class="header-backup"></div>
			        <!-- Wrapper for slides -->
			        <div class="carousel-inner" role="listbox">
			            <div class="item active">
			            	<img src="src/assets/slide-one.jpg" alt="">
			                <div class="carousel-caption">
		               			<h1>HealthPro* 360</h1>
		               			<p>Care means Quality</p>
		               			
			                </div>
			            </div>
			           			        </div>
			       
			    </div>
			</div>
			
    </div>	
    <div class="container-fluid" *ngIf="!showBanner">
			<div class="row">
        <br>
        <br>
        
       
       
          <div class="form-group col-md-6">
            <label for="exampleFormControlSelect1">am looking for a :</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Doctor/Medical Professional</option>
                <option>Dental Professional</option>
                <option>Vision Professional</option>
                <option>Orthopedic Professional</option>
                <option>Medical Equipment</option>
              </select>
              <label for="exampleFormControlSelect2">located near :</label>
            <input type="text" class="form-control" id="exampleFormControlSelect2">
                
              <button (click)="getProvider($event)" class="btn btn-primary">Submit</button>
          </div>
          <div class="form-group form-group col-md-6">
              <label for="exampleFormControlSelect3">who specilizes in :</label>
              <select class="form-control" id="exampleFormControlSelect3">
                  <option>Family/General Practice,Internal Med</option>
                  <option>Dermatogology</option>
                  <option>Dental</option>
                  <option>Ear Nose Throat</option>
                  <option>Emergency Medicine</option>
                </select>

                <label for="exampleFormControlSelect4">with in a distance of :</label>
                <select class="form-control" id="exampleFormControlSelect4">
                    <option>2 miles</option>
                    <option>10 miles</option>
                    <option>20 miles</option>
                    <option>30 miles</option>
                    <option>40 miles</option>
                  </select>
            
          </div>
         
          
       
			</div>
			<!--<table class="table"  *ngIf="showTable">-->
          <!--<thead>-->
            <!--<tr>-->
              <!--<th scope="col">#</th>   -->
              <!--<th scope="col">Provider name</th>-->
              <!--<th scope="col">Category</th>-->
              <!--<th scope="col">Rating</th>-->
            <!--</tr>-->
          <!--</thead>-->
          <!--<tbody>-->
            <!--<tr *ngFor="let provider of provider; let i = index">-->
              <!--<th scope="row">{{i+1}}</th>-->
              <!--<td>{{provider.providername}}</td>-->
              <!--<td>{{provider.providercategoryname}}</td>-->
              <!--<td><span ng-repeat="n in [] | 3" class="fa fa-star checked"></span></td>-->
            <!--</tr>-->
           <!---->
          <!--</tbody>-->
        <!--</table>-->
    </div>
  <div class="table-users" *ngIf="showTable">
    <div class="header">Providers</div>

    <table cellspacing="0">
      <tr>
      
        <th>Picture</th>
        <th>Provider name</th>
        <th>Specialty</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Location</th>
        <th>Rating</th>
      </tr>

      <tr  *ngFor="let provider of provider; let i = index">
        <td><img class="img1" src="src/assets/1.jpeg" alt="" /></td>
        <td>{{provider.providername}}</td>
        <td>{{provider.providercategoryname}}</td>
        <td>{{provider.email}}</td>
        <td>{{provider.phone}}</td>
        <td>{{provider.location}}</td>
        <td (click)="getRating($event)" data-toggle="modal" data-target="#exampleModal"> <span *ngFor="let rating of [0,1,2,3,4]; let j = index"> <span *ngIf="rating < provider.rating" class="fa fa-star checked"></span><span *ngIf="rating >= provider.rating" class="fa fa-star"></span></span></td>
        <br>
      </tr>
    </table>

  </div>
  <div *ngIf="showChart">
    <span (click)="backFunction($event)"><u>back</u></span>
  <highcharts-chart

    [Highcharts]="Highcharts"
    [options]="chartOptions"

    style="width: 100%; height: 400px; display: block;"
  ></highcharts-chart>
  </div>
<div class="row carousel-caption" *ngIf="showBanner">
			<button (click)="toggleForm($event)">Find A Doctor</button>
</div>


  </section>




