<div class="slider" id="home">
  <div class="container-fluid" *ngIf="showBanner">
    <div class="row">
      <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="src/assets/slide-one.jpg" alt="">
            <div class="carousel-caption">
              <h1>HealthPro* 360</h1>
              <p>Care means Quality</p>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row carousel-caption" *ngIf="showBanner">
      <div class="col-md-9">
    <button class="btn-primary" (click)="toggleForm('KYD')">Know Your Doctor</button>
  </div>
  <div class="col-md-3">
    <button  class="btn btn-secondary" (click)="toggleForm('FAD')">Find A Doctor</button>
  </div>
  </div>
</div>

<div class="" *ngIf="showSearch">

  <div class="container">
    <div class="row">
      <h3>Provider Search </h3>
      <br>
      <div class="col-md-6">
        <label for="exampleFormControlSelect1">Am looking for a :</label>
        <select [(ngModel)] = "professional" id="exampleFormControlSelect1">
            <option>Doctor/Medical Professional</option>
            <option>Dental Professional</option>
            <option>Vision Professional</option>
            <option>Orthopedic Professional</option>
            <option>Medical Equipment</option>
          </select>
      </div>
      <div class="col-md-6">
        <label for="exampleFormControlSelect3">Who specilizes in :</label>
        <select  [(ngModel)] = "specialty" id="exampleFormControlSelect3">
              <option>FAMILY PRACTICE</option>
              <option>Dermatogology</option>
              <option>Dental</option>
              <option>Ear Nose Throat</option>
              <option>Emergency Medicine</option>
            </select>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <label for="exampleFormControlSelect4">With in a distance of :</label>
        <select [(ngModel)] = "distance" id="exampleFormControlSelect4">
              <option value="2">2 miles</option>
              <option value="10">10 miles</option>
              <option value="20">20 miles</option>
              <option value="30">30 miles</option>
              <option value="40">40 miles</option>
            </select>
      </div>
      <div class="col-md-6">
        <label for="exampleFormControlSelect2">Located near :</label>
        <input type="text" [(ngModel)] = "zipcode" id="exampleFormControlSelect2">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input type="checkbox" [(ngModel)]="usemock"  data-md-icheck/>Use Mock
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input class="btn btn-primary" (click)="getProvider($event)" type="submit" value="Submit">
      </div>
    </div>
  </div>
</div>
<div class="" *ngIf="showSearchforKYD">  
    <div class="container">     
      <div class="row">
        <div class="col-md-6">
          <label for="exampleFormControlSelect2">Provider Name :</label>
          <input type="text" [(ngModel)] = "providerName" name="name"  minlength="5"  #name="ngModel" required id="name">
          <div *ngIf="name.invalid && name.dirty" style="color:red">
              Name is required.
            </div>
        </div>
        <div class="col-md-6">
          <label for="exampleFormControlSelect2">Located near :</label>
          <input type="text" [(ngModel)] = "zipcode" id="exampleFormControlSelect2">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <input type="checkbox" [(ngModel)]="usemock"  data-md-icheck/>Use Mock
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <input class="btn btn-primary" (click)="getProviderByName($event)" type="submit" value="Submit">
        </div>
      </div>
    </div>
  </div>
<div *ngIf="showTable" [ngClass]="showTable ? visible :hidden">

  <div class="row">
    <div class="col-md-2">
    </div>
    <input class="btn-primary" (click)="goToback()" type="submit" value="Reset Serach">
  </div>
  <div class="row">

    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <table class="paleBlueRows">
        <thead>
          <tr>
            <th>Picture</th>
            <th>Provider name</th>
            <th>Specialty</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Location</th>
            <th>HealthPro Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let provider of provider; let i = index">
            <td><img class="img1" src="src/assets/{{provider.providername}}.jpg" alt="" /></td>
            <td>{{provider.providername}}</td>
            <td>{{provider.providercategoryname}}</td>
            <td>{{provider.email}}</td>
            <td>{{provider.phone}}</td>
            <td>{{provider.location}}</td>
            <td (click)="getRating($event, provider.providerid)"><span *ngFor="let rating of [0,1,2,3,4]; let j = index"> <span *ngIf="rating < provider.rating" class="fa fa-star checked"></span>
              <span
                *ngIf="rating >= provider.rating" class="fa fa-star"></span>
                </span>
            </td>
            <br>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>

<div *ngIf="showChart">
  <span (click)="backFunction($event)"><u>Return to Search Results</u></span>
  <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
</div>
